/konzeptblatt.org
/konzeptblatt.org_archive
/*.elc

# Added automatically by ‘eldev init’.
/.eldev
/Eldev-local
/archive/
*~
/tests/init/transient/
/tests/init/org-roam.db
/tests/init/.org-id-locations
/tests/init/bookmarks
*.elc
